<table id="auctions" class="tablesorter">
  <thead>
  <tr>
    <th>Seller</th>
    <th>Quantity</th>
    <th>Total Buyout</th>
    <th>Buyout Per</th>
  </tr>
  </thead>
  <tbody>
  <% for auction in auctions -%>
  <tr>
    <td><%= auction.seller_name %></td>
    <td><%= auction.quantity %></td>
    <td><%= raw_to_wow auction.buyout %></td>
    <td><%= raw_to_wow auction.per_unit_buyout %></td>
  </tr>
  <% end -%>
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#auctions").tablesorter();
    }
);
</script>
